/* --- Main colors --- */
$color-text: #191919;
$color-text-secondary:#6E6E6E;
$color-text-tertiary: #8A8A8A;
$color-text-empty: #949494;
$color-text-white: #FFF;
$color-hover: #F6F6F6;
$color-border: #E4E4E4;
$color-border-light: #F1F1F1;
$color-link: #191919;
$color-bg: #FFF;
$color-new: #44BCF9;
$color-notice: #FFFF0E;